# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
ENV/
*.env

# Django specific
db.sqlite3
/staticfiles/
/media/
/*.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
